body {
    /* font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;; */
    font-family:"RobotoDraft", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.image {
    background-color: #e85a28;
    background: url(../img/code2.jpeg) no-repeat fixed bottom center;
    background-size: cover;
    height: 750px;
    margin-top: -20px;
    width: 100%;
    display: inline-block;
    padding-top: 200px;
  }

h1 {
    font-weight: 700;
    font-size: 5vw;
    display: inline-block;
    letter-spacing: 0.25vw;
    color: #414141;
    /* transform: translateX(-100%); */
    /* animation: byBottom 1s ease both; */
}
  

.image .heading {
  color: #E85A28;
  display: flex;
  /* align-items: flex-end; */
  /* padding-top: 200px; */
  /* padding-left: 20px; */
  font-size: 6vw;
  width: 29%;
  background-color: rgba(0,0,0,.8);
}
  
.image p {
  text-align: center;
  /* padding-left: 20px; */
  color: #f7ca18;
  /* font-weight: 600; */
  font-size: 18px;
  letter-spacing: 0.20vw;
  background-color: rgba(0,0,0,.8);
  width: 43%;
}

.image p .btn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px;
  font-size: 1.2em;
}
  
  
.navbar {
  height: 80px;
  background-color: transparent;
  border: none;
  color: white;
  z-index: 100;
  -webkit-transition: background-color 1s ease 0s;
  transition: background-color 1s ease 0s;
  background-color: rgba(0,0,0,0.5)
}

.navbar-default .navbar-brand {
  margin-top: 10px;
  color: white;
}
.navbar-default .navbar-brand:hover {
  color: #C57ED3;
  border: 1px solid #C57ED3;
}
.navbar-default .navbar-nav > li > a {
  color: white;
  margin: 10px 5px 5px 5px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
  color: #C57ED3;
  border: 1px solid #C57ED3;
}

/*.navbar-default .navbar-nav > li > a:visited {
  color: #C57ED3;
  text-decoration: none;
} */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #C57ED3;
  background-color: #fdfdfd;
  
}
.navbar-default .navbar-toggle {
  /* border-color: #fdfdfd; */
  border-color: #4c4c4c;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  /* background-color: #490D40; */
  /* background-color: rgba(0,0,0,0.5); */
  background-color: #4c4c4c;
}
.navbar-default .navbar-toggle .icon-bar {
  color: #fdfdfd;
  background-color: #fdfdfd;
}
.navbar-default .navbar-collapse.collapse.in ul {
  /* background-color: #490D40; */
  background-color: rgba(0,0,0,0.5);    
}

/* Solid class attached on scroll past first section */
.navbar.solid {
  background-color: #490D40;
  -webkit-transition: background-color 1s ease 0s;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;
}
.navbar.solid .navbar-brand {
  color: #C57ED3;
  -webkit-transition: color 1s ease 0s;
  transition: color 1s ease 0s;
}
.navbar.solid .navbar-nav > li > a {
  color: #C57ED3;
  -webkit-transition: color 1s ease 0s;
  transition: color 1s ease 0s;
}

/*about section*/
.about {
  background-color: #f2f7f9;
  color: #29313e;
  height: 100%;
  /* text-align: center; */
  margin-top: -20px;
}
.about h2 {
  padding-top: 180px;
  line-height: 1.3;
  text-align: center;
  font-size: 30px;
  
}
.about p {
  /* padding: 20px 80px; */
}

.well-css {
  background-color: #ffffff;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px;
}

.well-css p {
  font-size: 18px;
}

/*end of about section*/

/*about2 secction*/
.about2 {
  background-color: #E85A28;
  color: #29313e;
  height: 600px;
  margin-top: -20px;
}

.about2 h2 {
  padding-top: 220px;
  text-align: center;
  color: #fdfdfd;
  text-align: center;
  
}
.about2 p {
  padding: 20px 80px;
  color: #fdfdfd;
  font-size: 18px;
}

.space-between {
  padding-top: 10px;
  padding-bottom: 10px;
}
/*end of about2 section*/

.override-btn {
  color: #fff;
  background-color: #E85A28;
  border-color: #E85A28;
}

/*about3 section*/
.about3 {
  background-color: #f2f7f9;
  color: #29313e;
  height: 600px;
  margin-top: -20px;
}

.about3 h2 {
  padding-top: 220px;
  text-align: center;
}
.about3 p {
  /* padding: 20px 80px; */
  font-size: 18px;     
}
/*end of about3 section*/

/*about4 section*/

.about4 {
  background-color: #E85A28;
  color: #490D40;
  height: 600px;
  margin-top: -20px;
}

.about4 h2 {
  padding-top: 220px;
  
  text-align: center;
  color: #fdfdfd;
}
.about4 p {
  color: #fdfdfd;
  /* padding: 20px 80px; */
  font-size: 18px;    
}
/*end of about4 section*/

/*about 5 section*/
.about5 {
  background-color: #f2f7f9;
  color: #29313e;
  height: 600px;
  margin-top: -20px;
}

.about5 h2 {
  padding-top: 220px;
  
  text-align: center;
  color: #29313e;
}
.about5 p {
  color: #29313e;
  font-size: 18px;    
}
/*end of about5 section*/

/*footer section*/
.footer {
  background-color: #E85A28;
  padding-top: 10px;
}

.column ul li a{
  text-decoration: none;
  font-size: 16px;
}
/*end of footer section*/